body {
    font-family: tahoma;
    padding: 0px;
    margin: 0px;
    background: #f5f5f5;
}

div.content {
    padding: 10px 20px;
}

div.content h1 {
    font-size: 18pt;
    border-bottom: 5px solid #a00;
    padding: 0px;
    margin: 10px 0px 20px;
    width: 80%;
}

div.content div.data table {
    border: 2px solid #000;
    background: #fff;
    width: 80%;
}

div.content div.data table td {
    font-size: 10pt;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

div.content div.data table th {
    text-align: left;
    font-size: 8pt;
    padding: 10px 10px 7px;
    text-transform: uppercase;
    color: #fff;
    background: url(../images/head.gif) left -5px repeat-x;
}

div.success {
    color: #060;
    text-align: center;
}

input.text {
    border: 2px solid #aaa;
}

a.add {
    background: url(../images/add.png) left center no-repeat;
    padding-left: 20px;
    font-size: 0.85em;
}

a.edit {
    background: url(../images/edit.gif) left center no-repeat;
    padding-left: 20px;    
}

a.delete {
    background: url(../images/delete.gif) left center no-repeat;
    padding-left: 20px;
}

a.back {
    background: url(../images/prev.gif) left center no-repeat;
}

.error {
    background: #FBE6F2 none repeat scroll 0 0;
    border: 1px solid #D893A1;
    color: #333333;
    margin: 5px 0px 0px 10px;
    padding: 5px;
    font-size: 10px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
}

label {
    width: 5em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    font-size: 0.5em;
}

form {
    font-size: 0.85em;
}

form input[type="text"] {
    font-size: 0.80em;
    margin-bottom: 10px;
    margin-left: 10px;
}

form div {
    display: inline-block;
}